---
http_interactions:
- request:
    method: get
    uri: https://plan.gosford.nsw.gov.au/Pages/XC.Track/SearchApplication.aspx?d=thismonth&k=LodgementDate&o=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://plan.s.centralcoast.nsw.gov.au/Pages/XC.Track/SearchApplication.aspx?o=xml&d=thismonth&k=LodgementDate
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 14 May 2019 14:00:00 GMT
- request:
    method: get
    uri: https://plan.s.centralcoast.nsw.gov.au/Pages/XC.Track/SearchApplication.aspx?d=thismonth&k=LodgementDate&o=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?><NewDataSet>\r\n  <Application>\r\n    <ApplicationId>024.2019.00011607.001
        </ApplicationId>\r\n    <NatureOfApplication>Private Tree Works Application</NatureOfApplication>\r\n
        \   <NatureOfApplicationType>24</NatureOfApplicationType>\r\n    <ReferenceNumber>024.2019.00011607.001
        </ReferenceNumber>\r\n    <ReferenceNumberYear>2019</ReferenceNumberYear>\r\n
        \   <ReferenceNumberNumber>11607</ReferenceNumberNumber>\r\n    <Amendment>1</Amendment>\r\n
        \   <ApplicationDetails>Removal of Tree 1- 1 x Eucalyptus species located
        on the left side boundary of property and Tree 2- 1 x Eucalyptus species located
        on the left side rear boundary of property as discussed with customer. </ApplicationDetails>\r\n
        \   <CreatedDate>2019-06-04T00:00:00+10:00</CreatedDate>\r\n    <LodgementDate>2019-06-01T00:00:00+10:00</LodgementDate>\r\n
        \   <EstimatedCost>1</EstimatedCost>\r\n    <DeterminationDate>2019-06-04T00:00:00+10:00</DeterminationDate>\r\n
        \   <DeterminationType>Approved                                </DeterminationType>\r\n
        \   <CourtDeterminationDate>1900-01-01T00:00:00+11:00</CourtDeterminationDate>\r\n
        \   <CourtDeterminationType />\r\n    <DeterminationTypeCode1>1</DeterminationTypeCode1>\r\n
        \   <DeterminationTypeCode>A   </DeterminationTypeCode>\r\n    <AuthorityParty>Approved
        \                               </AuthorityParty>\r\n    <OfficerPh />\r\n
        \   <Officer>Craig Glynn</Officer>\r\n    <Title>Tree Risk Management Officer
        \                     </Title>\r\n    <Days>-3</Days>\r\n    <fmt_acc>024.2019.00011607.001
        </fmt_acc>\r\n    <doc_typ>24</doc_typ>\r\n    <doc_yer>2019</doc_yer>\r\n
        \   <doc_num>11607</doc_num>\r\n    <doc_prt>1</doc_prt>\r\n    <CompressedApplicationId>TREE11607/2019</CompressedApplicationId>\r\n
        \   <DivReferenceNumber>024201900011607001</DivReferenceNumber>\r\n    <NatureOfApplicationTypeAlpha>TREE</NatureOfApplicationTypeAlpha>\r\n
        \   <ApplicationIdS>024.2019.00011607.001</ApplicationIdS>\r\n    <Determination>\r\n
        \     <ApplicationId>024.2019.00011607.001 </ApplicationId>\r\n      <DeterminationDate>2019-06-04T00:00:00+10:00</DeterminationDate>\r\n
        \     <DeterminationType>Approved                                </DeterminationType>\r\n
        \     <CourtDeterminationDate>1900-01-01T00:00:00+11:00</CourtDeterminationDate>\r\n
        \     <CourtDeterminationType />\r\n      <Officer>Craig Glynn</Officer>\r\n
        \     <ApplicationIdS>024.2019.00011607.001</ApplicationIdS>\r\n    </Determination>\r\n
        \   <Address>\r\n      <PropertyId>45896</PropertyId>\r\n      <ParcelId>45896</ParcelId>\r\n
        \     <ApplicationId>024.2019.00011607.001 </ApplicationId>\r\n      <AssessmentId>223065</AssessmentId>\r\n
        \     <Status>R</Status>\r\n      <StreetNumber1>117</StreetNumber1>\r\n      <StreetSuffix
        xml:space=\"preserve\">     </StreetSuffix>\r\n      <str_nme>Greenhaven                              </str_nme>\r\n
        \     <StreetType>DR  </StreetType>\r\n      <LocalityName>UMINA BEACH</LocalityName>\r\n
        \     <Postcode>2257      </Postcode>\r\n      <CountryName>Australia</CountryName>\r\n
        \     <StateTerritory>NSW</StateTerritory>\r\n      <Suburb>UMINA BEACH                        </Suburb>\r\n
        \     <Ward>Peninsula                               </Ward>\r\n      <LotNumber>131
        \                                    </LotNumber>\r\n      <PartLotNumber
        xml:space=\"preserve\">                                        </PartLotNumber>\r\n
        \     <SectionNumber xml:space=\"preserve\">                                        </SectionNumber>\r\n
        \     <PlanNumber>708629                                  </PlanNumber>\r\n
        \     <FullLegalDescription>LOT: 131 DP: 708629</FullLegalDescription>\r\n
        \     <Area>1114.0000</Area>\r\n      <PropertyStatus>R</PropertyStatus>\r\n
        \     <PropertySequence>0</PropertySequence>\r\n      <PDivReferenceNumber>P024201900011607001</PDivReferenceNumber>\r\n
        \     <GeoRSS>-33.514194 151.301431</GeoRSS>\r\n      <LatLng>-33.514194,151.301431</LatLng>\r\n
        \     <StreetName>Greenhaven Drive</StreetName>\r\n      <Line1>117  Greenhaven
        Drive</Line1>\r\n      <Line2>UMINA BEACH NSW 2257</Line2>\r\n      <ApplicationIdS>024.2019.00011607.001</ApplicationIdS>\r\n
        \   </Address>\r\n    <Party>\r\n      <PersonId>403073</PersonId>\r\n      <ApplicationId>024.2019.00011607.001
        \                            </ApplicationId>\r\n      <lnk_typ>851</lnk_typ>\r\n
        \     <PartyRole>Applicant                               </PartyRole>\r\n
        \     <FamilyName>Willis                                            </FamilyName>\r\n
        \     <GivenName>Dale Edwin</GivenName>\r\n      <Initial>D E  </Initial>\r\n
        \     <Title>GCC</Title>\r\n      <FullName> D E Willis</FullName>\r\n      <Line1>117
        Greenhaven Drive                    </Line1>\r\n      <Line2>UMINA BEACH  NSW
        \ 2257                  </Line2>\r\n      <TelephoneNumber xml:space=\"preserve\">
        </TelephoneNumber>\r\n      <ApplicationIdS>024.2019.00011607.001</ApplicationIdS>\r\n
        \   </Party>\r\n    <Event>\r\n      <ApplicationId>024.2019.00011607.001
        </ApplicationId>\r\n      <EventCode>D001</EventCode>\r\n      <Description>APPLICATION
        LODGED            </Description>\r\n      <Officer> C A Glynn</Officer>\r\n
        \     <DateOpen>2019-06-04T09:29:13+10:00</DateOpen>\r\n      <DateDue>2019-05-06T00:00:00+10:00</DateDue>\r\n
        \     <DateClosed>2019-06-04T09:29:13+10:00</DateClosed>\r\n      <Comment>Action
        opened at lodgement                                            </Comment>\r\n
        \     <StopClock>N</StopClock>\r\n      <ApplicationIdS>024.2019.00011607.001</ApplicationIdS>\r\n
        \   </Event>\r\n  </Application>\r\n  <Application>\r\n    <ApplicationId>011.2002.00015517.015
        </ApplicationId>\r\n    <NatureOfApplication>Development Application</NatureOfApplication>\r\n
        \   <NatureOfApplicationType>11</NatureOfApplicationType>\r\n    <Category>Section
        4.55 Amendment                  </Category>\r\n    <ReferenceNumber>011.2002.00015517.015
        </ReferenceNumber>\r\n    <ReferenceNumberYear>2002</ReferenceNumberYear>\r\n
        \   <ReferenceNumberNumber>15517</ReferenceNumberNumber>\r\n    <Amendment>15</Amendment>\r\n
        \   <ApplicationDetails>Section 4.55 Amendment - Removal of Level 11, Addition
        of Part Storey to Buildings A &amp; B, Adjustment Floor to Floor Heights &amp;
        Various Minor Amendments[...]
